<!DOCTYPE html>
<html lang="ja" style="">
<head>
  <!-- Google Tag Manager -->
  <script>
    ;
    (function(w, d, s, l, i) {
      w[l] = w[l] || []
      w[l].push({
        'gtm.start': new Date().getTime(),
        event: 'gtm.js'
      })
      var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s),
        dl = l != 'dataLayer' ? '&l=' + l : ''
      j.async = true
      j.src = 'https://www.googletagmanager.com/gtm.js?id=' + i + dl
      f.parentNode.insertBefore(j, f)
    })(window, document, 'script', 'dataLayer', 'GTM-N5XXNR7W')
  </script>
  <!-- End Google Tag Manager -->
  <meta charset="UTF-8">
  <title>タイトルが入ります。</title>
  <meta name="description" content="Beboは、症状等に合わせたセルフチェックで、市販薬・食事・生活習慣を提案します。酸化マグネシウム便秘薬や乳酸菌整腸剤など市販薬の選び方もサポート。">
  <meta property="og:title" content="タイトルが入ります。">
  <meta property="og:description" content="Beboは、症状等に合わせたセルフチェックで、市販薬・食事・生活習慣を提案します。酸化マグネシウム便秘薬や乳酸菌整腸剤など市販薬の選び方もサポート。">
  <meta property="og:site_name" content="Bebo（ビーボ） | おなかの悩みに、答えを。">
  <meta property="og:image" content="https://www.bebo-bowel.com/assets/img/common/ogp.webp">
  <meta property="og:url" content="https://www.bebo-bowel.com">
  <meta name="keywords" content="便秘, 腸ケア, お腹の悩み, 市販薬, 専門家監修">
  <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no">
  <link rel="icon" href="/assets/img/common/favicon.ico">
  <link rel="apple-touch-icon" sizes="180x180" href="/assets/img/common/apple-touch-icon.png">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Zen+Kaku+Gothic+New:wght@400;700&display=swap" rel="stylesheet">
  <link rel="stylesheet" href="https://use.typekit.net/qnm0nso.css">
  <meta name="format-detection" content="telephone=no">
  <script type="module" src="/assets/js/Layout.ts.js"></script>
  <link rel="stylesheet" href="/assets/css/main.css">
</head>
<body style="">
  <!-- Google Tag Manager (noscript) -->
  <noscript>
    <iframe src="https://www.googletagmanager.com/ns.html?id=GTM-N5XXNR7W" height="0" width="0"
      style="display:none;visibility:hidden; "></iframe>
  </noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div id="wrapper" style="">
    <script type="module" src="/assets/js/Header.ts.js"></script>
    <header-component data-astro-cid-3ef6ksr2="true">
      <header class="Header isLogin " data-astro-cid-3ef6ksr2>
        <h1 class="logo show" data-astro-cid-3ef6ksr2>
          <a href="/" data-astro-cid-3ef6ksr2>
            <img src="/assets/img/common/logo_bebo.svg" alt="Bebo" data-astro-cid-3ef6ksr2>
          </a>
        </h1>
        <div class="menu" data-astro-cid-3ef6ksr2>
          <ul data-astro-cid-3ef6ksr2>
            <li class="sp userName" data-astro-cid-3ef6ksr2>
              <span data-astro-cid-3ef6ksr2>村石光貴 様</span>
            </li>
            <li data-path="/" data-astro-cid-3ef6ksr2>
              <a href="/" data-astro-cid-3ef6ksr2>
                <span data-astro-cid-3ef6ksr2>トップ</span>
              </a>
            </li>
            <li data-path="/type-check/" data-astro-cid-3ef6ksr2>
              <a href="/type-check/" data-astro-cid-3ef6ksr2>
                <span data-astro-cid-3ef6ksr2>便秘タイプチェック</span>
              </a>
            </li>
            <li data-path="/#lineup" data-astro-cid-3ef6ksr2>
              <a href="/#lineup" data-astro-cid-3ef6ksr2>
                <span data-astro-cid-3ef6ksr2>取り扱い商品</span>
              </a>
            </li>
            <li data-path="/consultation/" data-astro-cid-3ef6ksr2>
              <a href="/consultation/" data-astro-cid-3ef6ksr2>
                <span data-astro-cid-3ef6ksr2>薬剤師に相談</span>
              </a>
            </li>
            <li class="sp mypage" data-path="/account/" data-astro-cid-3ef6ksr2>
              <a href="/account/" data-astro-cid-3ef6ksr2>
                <span data-astro-cid-3ef6ksr2>マイページ</span>
              </a>
            </li>
          </ul>
          <div class="sp btns" data-astro-cid-3ef6ksr2>
            <div class="btn_login" data-astro-cid-3ef6ksr2>
              <script type="module" src="/assets/js/Btn.ts.js"></script>
              <btn-component data-href="/sign-in/" data-target="_self" data-size="M" data-type="transparent"
                data-color="#000" data-tag="a" data-disabled="false" data-isActive="false" data-shoulder
                data-isWide="false" data-astro-cid-5dcumwjq="true">
                <a href="/sign-in/" target="_self" style="color: #000;" data-astro-cid-5dcumwjq="true"
                  class="Btn M transparent">
                  <span class="frame" style="background-color: transparent; border-color: #000;"
                    data-astro-cid-5dcumwjq></span>
                  <span class="text" data-astro-cid-5dcumwjq>ログイン</span>
                </a>
              </btn-component>
            </div>
            <div class="btn_cart has_items" data-astro-cid-3ef6ksr2>
              <btn-component data-href="/cart/" data-target="_self" data-size="M" data-type="solid" data-color="#000"
                data-tag="a" data-disabled="false" data-isActive="false" data-shoulder data-isWide="false"
                data-astro-cid-5dcumwjq="true">
                <a href="/cart/" target="_self" style="color: #fff;" data-astro-cid-5dcumwjq="true" class="Btn M solid">
                  <span class="frame" style="background-color: #000;" data-astro-cid-5dcumwjq></span>
                  <img class="icnCart" src="/assets/img/common/icn_cart.svg" alt="カート" data-astro-cid-3ef6ksr2>
                </a>
              </btn-component>
            </div>
            <div class="btn_logout" data-astro-cid-3ef6ksr2>
              <btn-component data-href="/sign-in/" data-target="_self" data-size="M" data-type="transparent"
                data-color="#000" data-tag="a" data-disabled="false" data-isActive="false" data-shoulder
                data-isWide="false" data-astro-cid-5dcumwjq="true">
                <a href="/sign-in/" target="_self" style="color: #000;" data-astro-cid-5dcumwjq="true"
                  class="Btn M transparent">
                  <span class="frame" style="background-color: transparent; border-color: #000;"
                    data-astro-cid-5dcumwjq></span>
                  <span class="text" data-astro-cid-5dcumwjq>ログアウト</span>
                </a>
              </btn-component>
            </div>
          </div>
          <div class="pc account" data-astro-cid-3ef6ksr2>
            <div class="pulldown" data-astro-cid-3ef6ksr2>
              <a class="pulldown_head" href="/account/" data-astro-cid-3ef6ksr2>
                <span data-astro-cid-3ef6ksr2>村石光貴 様</span>
                <svg width="13" height="12" viewBox="0 0 13 12" fill="none" xmlns="http://www.w3.org/2000/svg"
                  data-astro-cid-3ef6ksr2>
                  <path d="M12 3.25L6.5 8.75L1 3.25" stroke="black" stroke-width="1.375" stroke-linecap="square"
                    data-astro-cid-3ef6ksr2></path>
                </svg>
              </a>
              <div class="pulldown_body" data-astro-cid-3ef6ksr2>
                <div class="select" data-astro-cid-3ef6ksr2>
                  <a class="option" href="/account/" data-astro-cid-3ef6ksr2>
                    <span data-astro-cid-3ef6ksr2>マイページ</span>
                  </a>
                  <a class="option" href="/sign-in/" data-astro-cid-3ef6ksr2>
                    <span data-astro-cid-3ef6ksr2>ログアウト</span>
                  </a>
                </div>
              </div>
            </div>
            <div class="btn_cart has_items" data-astro-cid-3ef6ksr2>
              <btn-component data-href="/cart/" data-target="_self" data-size="M" data-type="solid" data-color="#000"
                data-tag="a" data-disabled="false" data-isActive="false" data-shoulder data-isWide="false"
                data-astro-cid-5dcumwjq="true">
                <a href="/cart/" target="_self" style="color: #fff;" data-astro-cid-5dcumwjq="true" class="Btn M solid">
                  <span class="frame" style="background-color: #000;" data-astro-cid-5dcumwjq></span>
                  <img class="icnCart" src="/assets/img/common/icn_cart.svg" alt="カート" data-astro-cid-3ef6ksr2>
                </a>
              </btn-component>
            </div>
          </div>
        </div>
        <div class="menuTrigger" data-astro-cid-3ef6ksr2>
          <span data-astro-cid-3ef6ksr2></span>
          <span data-astro-cid-3ef6ksr2></span>
          <span data-astro-cid-3ef6ksr2></span>
        </div>
      </header>
    </header-component>
    <div class="Container" style="">
      <div class="Column" data-astro-cid-pq3ktr2b>
        <div class="Column_inner" data-astro-cid-pq3ktr2b>
          <div class="Column_side left" data-astro-cid-pq3ktr2b>
            <div>left</div>
          </div>
          <div class="Column_mainContainer" data-astro-cid-pq3ktr2b>
            <h1 class="Column_title" data-astro-cid-pq3ktr2b>ページの<br class='sp'>タイトル</h1>
            <div class="Column_main" data-astro-cid-pq3ktr2b>
              <div>main</div>
            </div>
          </div>
        </div>
      </div>
      <div class="Column" data-astro-cid-pq3ktr2b>
        <div class="Column_inner" data-astro-cid-pq3ktr2b>
          <div class="Column_mainContainer" data-astro-cid-pq3ktr2b>
            <h1 class="Column_title" data-astro-cid-pq3ktr2b>ページのタイトル</h1>
            <div class="Column_main" data-astro-cid-pq3ktr2b>
              <div>main</div>
            </div>
          </div>
          <div class="Column_side right" data-astro-cid-pq3ktr2b>
            <div>right</div>
          </div>
        </div>
      </div>
      <div class="Column" data-astro-cid-pq3ktr2b>
        <div class="Column_inner" data-astro-cid-pq3ktr2b>
          <div class="Column_mainContainer" data-astro-cid-pq3ktr2b>
            <h1 class="Column_title" data-astro-cid-pq3ktr2b>ページのタイトル</h1>
            <div class="Column_main" data-astro-cid-pq3ktr2b>
              <div>main</div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer class="Footer" data-astro-cid-sz7xmlte>
      <div class="inner" data-astro-cid-sz7xmlte>
        <div class="logo" data-astro-cid-sz7xmlte>
          <img src="/assets/img/common/logo_bebo_white.svg" alt="Bebo" data-astro-cid-sz7xmlte>
        </div>
        <div class="sns" data-astro-cid-sz7xmlte>
          <ul data-astro-cid-sz7xmlte>
            <li data-astro-cid-sz7xmlte>
              <a href="https://www.instagram.com/bebo___mbox" target="_blank" rel="noopener noreferrer"
                data-astro-cid-sz7xmlte><img src="/assets/img/common/sns_ig.svg" alt="Instagram"
                  data-astro-cid-sz7xmlte></a>
            </li>
            <li data-astro-cid-sz7xmlte>
              <a href="https://x.com/Bebo__Mbox" target="_blank" rel="noopener noreferrer" data-astro-cid-sz7xmlte><img
                  src="/assets/img/common/sns_x.svg" alt="X" data-astro-cid-sz7xmlte></a>
            </li>
          </ul>
        </div>
        <div class="links" data-astro-cid-sz7xmlte>
          <div class="btns" data-astro-cid-sz7xmlte>
            <btn-component data-href="https://mbox-inc.jp/" data-target="_blank" data-size="S" data-type="transparent"
              data-color="#fff" data-tag="a" data-disabled="false" data-isActive="false" data-shoulder
              data-isWide="false" data-astro-cid-5dcumwjq="true">
              <a href="https://mbox-inc.jp/" target="_blank" style="color: #fff;" data-astro-cid-5dcumwjq="true"
                class="Btn S transparent">
                <span class="frame" style="background-color: transparent; border-color: #fff;"
                  data-astro-cid-5dcumwjq></span>
                <span class="text" data-astro-cid-5dcumwjq>運営会社</span><svg viewBox="0 0 12 12" fill="none"
                  data-astro-cid-5dcumwjq>
                  <path
                    d="M5.49829 1.86133H2C1.44772 1.86133 1 2.30904 1 2.86133V9.85879C1 10.4111 1.44772 10.8588 2 10.8588H8.99659C9.54887 10.8588 9.99659 10.4111 9.99659 9.85879V6.36006"
                    data-astro-cid-5dcumwjq></path>
                  <path d="M11.0004 4.85825V0.859375M11.0004 0.859375H7.00195M11.0004 0.859375L7.00195 4.85825"
                    data-astro-cid-5dcumwjq></path>
                </svg>
              </a>
            </btn-component>
            <btn-component data-href="/contact/" data-target="_self" data-size="S" data-type="transparent"
              data-color="#fff" data-tag="a" data-disabled="false" data-isActive="false" data-shoulder
              data-isWide="false" data-astro-cid-5dcumwjq="true">
              <a href="/contact/" target="_self" style="color: #fff;" data-astro-cid-5dcumwjq="true"
                class="Btn S transparent">
                <span class="frame" style="background-color: transparent; border-color: #fff;"
                  data-astro-cid-5dcumwjq></span>
                <span class="text" data-astro-cid-5dcumwjq>お問い合わせ</span>
              </a>
            </btn-component>
            <btn-component data-href="/pharmacy-license/" data-target="_self" data-size="S" data-type="transparent"
              data-color="#fff" data-tag="a" data-disabled="false" data-isActive="false" data-shoulder
              data-isWide="false" data-astro-cid-5dcumwjq="true">
              <a href="/pharmacy-license/" target="_self" style="color: #fff;" data-astro-cid-5dcumwjq="true"
                class="Btn S transparent">
                <span class="frame" style="background-color: transparent; border-color: #fff;"
                  data-astro-cid-5dcumwjq></span>
                <span class="text" data-astro-cid-5dcumwjq>店舗販売業の管理及び運営に関する事項</span>
              </a>
            </btn-component>
          </div>
          <ul class="legalLinks" data-astro-cid-sz7xmlte>
            <li data-astro-cid-sz7xmlte>
              <a href="/#faq" class="triggerTop" data-astro-cid-sz7xmlte><span data-astro-cid-sz7xmlte>FAQ</span></a>
            </li>
            <li data-astro-cid-sz7xmlte>
              <a href="/terms/" data-astro-cid-sz7xmlte><span data-astro-cid-sz7xmlte>利用規約</span></a>
            </li>
            <li data-astro-cid-sz7xmlte>
              <a href="/privacy/" data-astro-cid-sz7xmlte><span data-astro-cid-sz7xmlte>プライバシーポリシー</span></a>
            </li>
            <li data-astro-cid-sz7xmlte>
              <a href="/commercial-law/" data-astro-cid-sz7xmlte><span data-astro-cid-sz7xmlte>特定商取引法に基づく表記</span></a>
            </li>
          </ul>
        </div>
        <div class="copyright" data-astro-cid-sz7xmlte><small data-astro-cid-sz7xmlte>© 2025 M-box</small></div>
      </div>
    </footer>
  </div>
  <div id="cover" style=""></div>
</body>
</html>
